/* Work Sans Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    cursor: pointer;
    margin-bottom: 1.25rem;
}

.description-format {
    color: #727272;
    font-weight: 400;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.facts {
    text-align: center;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
} */

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

/* .banner {
    flex-direction: column;
} */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    text-align: center;
    margin-bottom: 1.25rem;
}

.banner img {
    width: 100%;
    margin: 0 auto;
}

/* main styles */

main {
    max-width: 1440px;
    margin: 3rem auto;
}

/* Teams Styles */

.teams-container {
    display: flex;
    align-items: center;
    margin-left: 8rem;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-content-title .quick {
    color: #727272;
    font-weight: 500;
}

.teams-content-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-content-title .feat {
    color: #FF900E;
    font-weight: 700;
}

.teams-content-description {
    color: #727272;
    font-weight: 400;
}

/* Feature Section Styles */

.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.feature-content .card {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
}

.ten-years-badge h2 {
    font-size: 4rem;
}


/* Facts Section */

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}

/* Sponsors Styles */

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}





















/* Responsive Media Query */

/* Mobile Devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-container {
        margin: auto;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 50px;
    }

    .facts-card-container {
        padding-right: 20px;
        padding-left: 50px;
        gap: 20px;
    }



}

/* Medium Devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-container {
        margin: auto;
    }

    .teams-img-container img {
        width: 100%;
    }

    .teams-content {
        padding: 20px;
        text-align: center;
    }
}